*.Rhistory
*.RData
UD651/L4/indicator_t_above_65_labour_to_pop_percent/
UD651/L4/indicator_t_above_65_labour_to_pop_percent_data.csv
UD651/L5/b5xyrOu.jpg
UD651/L5/nci.tsv
UD651/L5/rQF9jQr.jpg
UD651/L5/scatterplotMatrix.pdf
